<launch>
	<node name="jake" pkg="jake" type="jake_twist">
		<rosparam param="direction_names">["forward","backward","left","right"]</rosparam>

		<rosparam param="forward_direction">[250,0,0,0,0,0]</rosparam>
		<rosparam param="forward_keys">["W","w","ArrowUp"]</rosparam>

		<rosparam param="backward_direction">[-250,0,0,0,0,0]</rosparam>
		<rosparam param="backward_keys">["S","s","ArrowDown"]</rosparam>

		<rosparam param="left_direction">[0,0,0,0,0,-2500]</rosparam>
		<rosparam param="left_keys">["A","a","ArrowLeft"]</rosparam>

		<rosparam param="right_direction">[0,0,0,0,0,2500]</rosparam>
		<rosparam param="right_keys">["D","d","ArrowRight"]</rosparam>
	</node>
</launch>
